.list__delete-button {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  font-family: "PTMono", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #26282E;
  background-color: transparent;
  border: none;
  cursor: pointer;
}