.button {
  width: 200px;
  height: 50px;
  font-family: "PTMono", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #26282E;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity, .3s;
}

.button:hover {
  opacity: .7;
  transform: scale(1.05, 1.05);
}